<div>
  <td><%=image_tag "quiz.png", :height => 110, :width => 180 %></td>
</div>
<table border=1 bordercolor=" #D462FF">
  <tr>
    <td><h3>Listing questions</h3></td>
  </tr>
  <tr>
    
  </tr>
</table>

<table>
  <tr>
    <th>Question</th>
    <th>Correctanswer</th>
    <th>Rate</th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%=h question.question %></td>
    <td><%=h question.correct %></td>
    <td><%=h question.rate %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>