<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

<p>
  <b>Correctanswer:</b>
  <%=h @question.correctanswer %>
</p>

<p>
  <b>Rate:</b>
  <%=h @question.rate %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>