<div align="center">
  <td><%=image_tag "quiz.png", :height => 110, :width => 180 %></td>
</div>
<table border=0 style="border: 2px ridge #000099;" bgcolor="#ccccff" align="center">
  <tr>
    <td>
      <table border=0>
        <tr>
          <td colspan=11 align="center"><h3><font color="red">CREATE A NEW QUIZ</font></h3></td>
        </tr>
        <tr>
          <td colspan=11>&nbsp;</td>
        </tr>
        <% form_for(@quiz) do |f| %>
        <%= f.error_messages %>
          <tr>
            <td><%= f.label :quizType %></td>
            <td><%= f.text_field :quizType %></td>
          </tr>
          <tr>
            <td><%= f.label :faculty %></td>
            <td><%= f.text_field :faculty %></td>
          </tr>
          <tr>
            <td><%= f.label :section  %></td>
            <td><%= f.text_field :section  %></td>
          </tr>
          <tr>
            <td><%= f.label :timer %></td>
            <td><%= f.text_field :timer %></td>
          </tr>
          <tr>
            <td><%= f.label :startDate %></td>
            <td><%= f.text_field :startDate %></td>
          </tr>
          <tr>
            <td><%= f.label :endDate %></td>
            <td><%= f.text_field :endDate %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit 'Create' %></td>
          </tr>
      <% end %>
        <tr><td>&nbsp;</td></tr>
        <tr><td colspan=17><%= link_to image_tag("back.png", :border=>0, :height => 40, :width => 40), quizzes_path %></td></tr>
      </table>
    </td>
  </tr>
</table>
