<h1>Editing section</h1>

<% form_for(@section) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </p>
  <p>
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @section %> |
<%= link_to 'Back', sections_path %>