<h1>Listing sections</h1>

<table>
  <tr>
    <th>Section</th>
    <th>Course</th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%=h section.section %></td>
    <td><%=h section.course %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section', new_section_path %>