<h1>Editing course</h1>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :coursecode %><br />
    <%= f.text_field :coursecode %>
  </p>
  <p>
    <%= f.label :coursename %><br />
    <%= f.text_field :coursename %>
  </p>
  <p>
    <%= f.label :coursedescription %><br />
    <%= f.text_field :coursedescription %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>