<h1>Editing student_quiz</h1>

<% form_for(@student_quiz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :quiz %><br />
    <%= f.text_field :quiz %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_quiz %> |
<%= link_to 'Back', student_quizzes_path %>