<h1>Listing student_answers</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
  </tr>

<% @student_answers.each do |student_answer| %>
  <tr>
    <td><%=h student_answer.question %></td>
    <td><%=h student_answer.answer %></td>
    <td><%= link_to 'Show', student_answer %></td>
    <td><%= link_to 'Edit', edit_student_answer_path(student_answer) %></td>
    <td><%= link_to 'Destroy', student_answer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New student_answer', new_student_answer_path %>